# Maven / Java
/target/
*.class
*.jar
*.war
*.ear

# Test and reports
/cucumber-reports/
/surefire-reports/
/test-output/
/output/

# IDE files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
